data
out
logs
plots
reports
ref
outputs
output
tesis-docs
tests
docs
__pycache__
.github/bias_correction_instructions.instructions.md
.gitignore
.github/copilot-instructions.md
.gitignore
.github/instructions/clustering_resilience_instructions.instructions.md
.github/instructions/instructions_thesis.instructions.md
.gitignore
.github/instructions/thesis_writing_principles.instructions.md
.gitignore
.vscode/settings.json
scripts/solar/model_evaluation/Estimados Profesores:.md
scripts/mapbioma/*.tif
scripts/mapbioma/*.nc
scripts/mapbioma/*.cpg
scripts/mapbioma/*.dbf
scripts/mapbioma/*.shp
scripts/mapbioma/*.shx
scripts/mapbioma/*.csv
scripts/mapbioma/*.gpkg
scripts/mapbioma/*.geojson
scripts/mapbioma/*.prj
scripts/solar/model_evaluation/*.csv
scripts/util/songs/climate_symphony.wav
scripts/util/sound.ipynb
